*{
    font-size: 50px;  
    margin: 0px;
}

.box-2{
    display: flex;
    justify-content: center;
}
.box-3{
    display: flex;
    justify-content: end;
}



.box-4{
    display: flex;
    flex-direction: column;
}

.box-5{
    display: flex;
    justify-content: space-between;
}


.box-6{
    display: flex;
    justify-content: space-between;
}





